$bgcolor: #090B0D;
$textcolor:#FFFFFF;
$text2color:#858A93;
$textToken:#EDEFF2;

$border_color:#C7D0DB;
$blue_button_color:#1F74F2;
$sec-bgcolor:#14181c;
$input_color:#20252A;

$oddColor:#1B2024;
$evenColor:#14181B;
$headcolor:#101317;

$color:#3e3f3f


// #092650


// border-left: 2px solid #092650;
// box-shadow: #092650 3px 0px 6px 0px inset, #092650 0px 0px 0px 0px;