@import "./color";

@mixin header_footer{
    background-color: $bg-Color;
    color:$font-color;
}

@mixin heading($font-size){
    font-size: $font-size;
    font-weight:900;
    color: #FFFFFF;
}

@mixin borders_bottem($width:1px, $bordercolor:black) {
    border-bottom: $width solid $bordercolor;
}

@mixin borders($width:1px, $bordercolor:black) {
    border: $width solid $bordercolor;
}

@mixin border-radius($radius_size:5px){
    border-radius: $radius_size;
}

@mixin borders_right($width:1px, $bordercolor:black) {
    border-right: $width solid $bordercolor;
}

@mixin borders_left($width:1px, $bordercolor:black) {
    border-left: $width solid $bordercolor;
}
