.shadow1 {
  box-shadow: white -2px -2px 8px, white 0px 0px 8px;
}

.live_status {
  background-color: rgba(0, 0, 0, 0.6);
  @include border-radius(22px);
}

.BG-Black {
  background-color: rgba(0, 0, 0, 0.37);
  filter: contrast(100%);
}

.bg-live_status {
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.1),
    rgb(157, 18, 93, 0.1),
    rgba(59, 34, 194, 0.1),
    rgb(0, 0, 0, 0.1)
  );
}

.bg-live_statu1 {
  background-image: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.5),
    rgb(157, 18, 93, 0.5),
    rgba(59, 34, 194, 0.5),
    rgb(0, 0, 0, 0.1)
  );
}

.arrow_hover {
  transition: 0.2s;
}

.btn_hover:hover {
  transition: 0.2s;
  border-bottom: 1px solid rgba(192, 189, 189, 0.302);
  text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3),
    0px -4px 10px rgba(255, 255, 255, 0.3);

  .arrow_hover {
    transform: translate(15px, 0px);
    transition: 0.2s ease-in-out;
    color: #1f74f2;
  }
}

.live_supply {
  position: relative;

  h1 {
    font-family: "Montserrat", sans-serif;
  }

  p {
    font-family: "Montserrat", sans-serif;
  }
}

.live_supply_aftr::after {
  position: absolute;
  content: "";
  top: 20%;
  right: -12%;
  width: 1px;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.2);
}

@media (min-width: 320px) {
  .ty {
    background: none;
  }
}

.animate {
  animation-name: animation_BG;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  overflow: hidden;
}

@keyframes animate {
  0% {
    transform: rotate(20deg);
  }

  25% {
    transform: rotate(40deg);
  }

  50% {
    transform: rotate(-20deg);
  }

  75% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(20deg);
  }
}

.grap_head {
  font-family: "Montserrat", sans-serif;
}

.grap_supply {
  h1 {
    font-family: "Montserrat", sans-serif;
  }

  p {
    font-family: "Montserrat", sans-serif;
  }

  .grap_items {
    border-left: 1px solid rgba(199, 208, 219, 0.3);
    padding-left: 8px;
  }
}

@media screen and (max-width: 768px) {
  .grap_supply {
    h1 {
      font-family: "Montserrat", sans-serif;
    }

    p {
      font-family: "Montserrat", sans-serif;
    }

    .grap_items {
      border-left: none;
      padding-left: 8px;
    }
  }
}

.p2p_comnty {
  h3 {
    font-family: "Montserrat", sans-serif;
  }

  h1 {
    font-family: "Montserrat", sans-serif;
  }
}

.future {
  color: #f4efef;
  font-size: 136px;
  line-height: 0px;
  z-index: -1;
  margin-left: -10px;
  opacity: 0.04;
  margin-top: -100px;
  font-family: "Montserrat", sans-serif;
}

.future-2 {
  color: #f4efef;
  font-size: 90px;
  line-height: 0px;
  z-index: -1;
  margin-left: -10px;
  opacity: 0.025;
  margin-top: -100px;
  font-family: "Montserrat", sans-serif;
}

.p_bit {
  font-family: "Montserrat", sans-serif;
}

.market_perfor {
  font-weight: bold;
}

.present_value {
  .p_bit_2 {
    z-index: 20;
    margin-bottom: 50px;
    font-family: "Montserrat", sans-serif;
  }
}

.bottom_sec_grap {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  color: $border_color;
}

.live_price {
  background-color: $sec-bgcolor;
  border-radius: 18px 18px 0px 0px;
  padding: 30px 50px 30px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  h1 {
    font-family: "Montserrat", sans-serif;
  }
  p {
    font-family: "Montserrat", sans-serif;
  }

  .dollor::before {
    position: absolute;
    top: 27%;
    left: 40%;
    content: "";
    width: 1px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.3);
  }

  .dollortwo::before {
    position: absolute;
    top: 27%;
    left: 36%;
    content: "";
    width: 1px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.3);
  }
}

.d_cards{
    box-shadow: 3px 3px 6px #000000;
}

@media screen and (max-width: 768px) {
  .live_price {
    .dollor::before {
      top: 0%;
      left: 0%;
      content: "";
      width: 0px;
      height: 0px;
    }

    .dollortwo::before {
      position: absolute;
      top: 0%;
      left: 0%;
      content: "";
      width: 0px;
      height: 0px;
    }
  }
}

.Doller_union {
  display: flex;
  justify-content: space-around;
}

.tag_line {
  margin-top: 30px;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 5px;
  word-spacing: 8px;
  text-shadow: 0px 6px 10px rgb(94, 93, 93);
}

.page_heading {
  letter-spacing: 11px;
  font-weight: 900;
  font-family: "Montserrat", sans-serif;
  color: rgba(255, 255, 255, 0.7);
  text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3),
    0px -4px 10px rgba(255, 255, 255, 0.3);
}

@media only screen and (max-width: 768px) {
  .tag-line {
    font-size: 18px;
  }

  .future {
    display: none;
  }

  .page_heading {
    letter-spacing: 6px;
  }

  .live_price {
    padding: 15px;
    display: flex;
    justify-content: center;
  }

  .live_supply_aftr::after {
    top: 20%;
    right: 12%;
    width: 0px;
    height: 0px;
  }
}

@media only screen and (max-width: 480px) {
  .page_heading {
    letter-spacing: 4px;
  }
}

@media only screen and (max-width: 320px) {
  .page_heading {
    letter-spacing: 2px;
  }
}
